@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: 'ActayWide';
    src: url('fonts/ActayWide-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


:root {
    /*--base-font: Onest, Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    --base-font: Manrope;
    --second-font: ActayWide, Onest;

    --background-color-1: #1A1A1C;
    --background-color-2: #2C2C2F;

    --color-1: #EDEDED;
    --color-2: #bdbdbd;

    --text-color-in-button: var(--color-1);
    --text-color-in-button-hover: var(--color-1);

    --hover-color-1: #766BED;
    --hover-color-2: #7e73ff;
    --hover-color-3: #F9D949;

    --gradient: var(--hover-color-2), var(--hover-color-1);

    --secondary-color: #a8afbe;
    --color-transparent: rgba(199, 199, 199, 0.5);

    --error-color: #DA0037;

    --light-color: rgba(244, 80, 80, 0.25);

    --shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    --shadow-hover: 0px 2px 10px rgba(244, 80, 99, 0.5);

    --window-border-radius: 20px;
    --base-border-radius: 15px;
    --small-border-radius: calc(var(--base-border-radius) / 2);

    --base-transition: all 0.1s;

    --max-width: min(1440px, 90vw);
    --base-gap: 1rem
}

:root {
    font-family: var(--base-font);

    line-height: 1.5;
    font-weight: 400;

    color: var(--color-1);

    /*color-scheme: light dark;*/

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {

}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: var(--base-transition);
}

*:hover{
    transition: var(--base-transition);
}

html{
    font-size: 16px;
}

body{
    background-color: var(--background-color-1);

    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
    background: transparent;
}

a {
    font-weight: 500;
    color: var(--hover-color-1);
    text-decoration: inherit;
}
a:hover {
    color: var(--hover-color-2);
    /*text-decoration: underline;*/
}

h1 {
    line-height: 1.1;
}

img{
    object-fit: contain;
}