
.button, .transparentButton{
    border-radius: var(--small-border-radius);
    border: 1px solid transparent;

    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;

    background-color: var(--hover-color-1);
    color: var(--text-color-in-button);

    cursor: pointer;
}
.button:hover{
    /*background-color: var(--hover-color-2);*/

    background-color: transparent;
    border-color: var(--hover-color-1);
    color: var(--hover-color-1);
}

.transparentButton{
    background-color: transparent;
    color: var(--hover-color-1);
    border-color: var(--hover-color-1);


}
.transparentButton:hover{
    background-color: var(--hover-color-1);
    color: var(--background-color-2);
}

.transparentButton.reverse{
    color: var(--background-color-2);
    border-color: var(--background-color-2);
}

.transparentButton.reverse:hover{
    background-color: var(--background-color-2);
    color: var(--hover-color-1);
}
