.dropdown{
    position: relative;
    width: 100%;
    height: calc(1rem + 0.8rem + 0.8rem);
}
.dropdown::before{
    --size: 8px;

    content: '';
    position: absolute;
    right: calc(1rem + var(--size));
    top: calc(50% - (var(--size) - 2px));

    z-index: 100;
    width: var(--size);
    height: var(--size);

    border-bottom: 2px solid var(--hover-color-1);
    border-left: 2px solid var(--hover-color-1);

    transform: rotate(-45deg);
    transition: 0.3s;
    pointer-events: none;
}

.dropdown.active::before{
    transform: rotate(-225deg);
    top: calc(50% - (var(--size) / 2));
}

.textBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: var(--background-color-1);
    color: var(--color-1);
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    padding: 0.6em 1rem;
    border-radius: var(--small-border-radius);
}

.optionsList{
    visibility: hidden;
    position: absolute;
    width: 100%;
    opacity: 0;
    top: calc(100% + 1rem);
    background-color: var(--background-color-1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: var(--small-border-radius);
    overflow: hidden;

    transition-duration: 0.3s;
}

.dropdown.active .optionsList{
    visibility: visible;
    z-index: 200;
    opacity: 1;

    transition-duration: 0.3s;
}

.option{
    padding: 0.6em 1rem;
    font-size: 1rem;
    cursor: pointer;
}
.option:hover{
    background-color: var(--hover-color-1);
    color: white;
}