.container{
    width: 100%;
    max-width: var(--max-width);

    display: flex;
    justify-content: start;
    flex-direction: column;

    margin: 3rem auto;

    gap: var(--base-gap);
    border-radius: var(--base-border-radius);
}

.container.row{
    flex-direction: row;
}

.container.spaceBetween{
    justify-content: space-between;
}

.grid{
    width: 100%;
    max-width: var(--max-width);
    margin: 1rem auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: var(--base-gap);
}