
.counterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: var(--background-color-1);
}

.counterButton {
    background-color: var(--main-color-1);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.counterButton:hover {
    color: var(--background-color-2);
    background-color: var(--hover-color-1);
}

.counterValue {
    font-size: 1rem;
    font-weight: 600;
    width: auto;
    min-width: 2rem;
    text-align: center;
}
