.header{

    width: 100vw;
    height: 60px;

    background-color: var(--background-color-2);

    box-shadow: var(--shadow);
}

.headerContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: auto;

    width: 100%;
    max-width: var(--max-width);
    height: 100%;
}

.navigations{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigationItem, .navigationButton{
    color: var(--main-color-1);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin: auto 20px;
    cursor: pointer;
}

.navigationItem:hover, .navigationButton:hover{
    color: var(--hover-color-1);
}

.navigationButton{
    width: 100px;
    height: 40px;
    background-color: #DA0037;
}