

.item{
    display: flex;
    flex-direction: row;
    gap: var(--base-gap);

    width: 100%;

    background-color: var(--background-color-2);
    padding: 1rem;
    border-radius: var(--base-border-radius)
}

.image{
    width: 200px;

}

.infoSection{
    flex: 1;
}

.buySection{
    display: flex;
    flex-direction: column;
    gap: var(--base-gap);
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
}
.price{
    font-size: 1.5rem;
}
