

.productCard{

}

.productCardTopFull {
    display: grid;
    grid-template-areas:
        "header header"
        "images spec-brand"
        "images stat"
        "images buy"
        "images info"
        "images sale"
        "images free";

    grid-template-columns: 1fr minmax(590px, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: var(--base-gap);
}

.headerSection{
    grid-area: header;
}

.imagesSection{
    grid-area: images;

    width: 100%;
    height: 400px;

    background-color: var(--background-color-1);
    border-radius: var(--small-border-radius);
    overflow: hidden;
}

.picture{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image{
    aspect-ratio: auto;
    cursor: zoom-in;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.specBrandSection{
    grid-area: spec-brand;
}

.statSection{
    grid-area: stat;
}

.buySection{
    grid-area: buy;

    display: flex;
    width: 100%;
    gap: 15px;

    margin: auto;
}

.priceStrap{
    width: 100%;
}

.buyButton{
    width: 100%;
    max-width: 12rem;
}

.infoSection{
    grid-area: info;

}


