.likeButton{
    border-radius: var(--small-border-radius);
    border: 1px solid var(--hover-color-1);
    padding: 0.5rem 1rem;

    background-color: transparent;
    color: var(--hover-color-1);

    display: flex;
    align-items: center;
}

.likeButton:hover{

}

.likeIcon{
    fill: transparent;
    stroke: var(--hover-color-1);
    stroke-width: 25px;
    width: 20px;
    height: 20px;
}

.likeIcon.active{
    fill: var(--hover-color-1);
}