@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: 'ActayWide';
    src: url('../assets/fonts/ActayWide-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Manrope', sans-serif;
}


::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
    background: transparent;
}