.horizontalLine{
    /*color: var(--main-color-1);*/
    /*background-color: var(--main-color-1);*/
    /*border-color: var(--main-color-1);*/

    border: none;
    border-top: 1px solid var(--color-transparent);
}

.horizontalLine.dashed{
    border-top: 1px dashed var(--color-transparent);
}