.rating {
    display: flex;
    gap: 10px;

    align-items: center;
}

.stars{
    display: flex;
    gap: 2px;
}

.star {
    fill: var(--hover-color-1);

    --size: 16px;

    width: var(--size);
    height: var(--size);

    .fille{
        width: var(--size);
        height: var(--size);
    }

    .empty{
        width: var(--size);
        height: var(--size);
        position: absolute;
    }

}


