.rating {
    display: flex;
    gap: 10px;

    align-items: center;
}

.stars{
    display: flex;
    gap: 2px;
}

.starPair{

}

.star {
    /*fill: var(--main-color-1);*/

    --size: 16px;
    width: var(--size);
    height: var(--size);

    .fill{
        fill: var(--hover-color-1);
        position: absolute;
    }

    .empty{
        fill: var(--secondary-color);
        position: absolute;
    }

}


