.container {

}

.fileInput {
    width: 100%;
    display: none;
}

.fileButton {
    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 40px;

    border-radius: var(--small-border-radius);
    border: 1px solid transparent;

    padding: 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;

    background-color: var(--hover-color-1);
    color: var(--background-color-2);
}
.fileButton:hover{
    /*background-color: var(--background-color-2);*/
    /*color: var(--hover-color-1);*/
    /*border-color: var(--hover-color-1);*/

    background-color: var(--hover-color-2);
}

.text{
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--base-gap);
}

.icon{
    width: 2rem;
    fill: var(--background-color-2);
}


.fileInput:hover {
    background-color: var(--hover-color-2);
    border-color: var(--hover-color-1);
}
