:root{
    --row-height: 200px;
    --buy-section-width: 250px;
}

.product{
    min-width: 100px;
    min-height: 100px;

    /*width: calc(100% / 5 - var(--base-gap) * 4 / 5);*/
    width: 100%;
    height: var(--row-height);

    padding: 0.5rem;
    gap: 1rem;

    display: flex;
    flex-direction: row;
    border-radius: var(--base-border-radius);
    background-color: var(--background-color-2);
    box-shadow: var(--shadow);

    border: 1px solid transparent;
}

.product:hover{
    cursor: pointer;
    /*box-shadow: var(--shadow-hover);*/
    border-color: var(--hover-color-2);
}

.product:hover .image{
    transform: scale(1.02);
}

.imageDiv{
    width: var(--row-height);
    height: 100%;
    background-color: var(--background-color-1);

    border-radius: var(--base-border-radius);
    overflow: hidden;
}

.image{
    width: var(--row-height);
    height: 100%;

    object-fit: cover;
}

.textSection, .buySection{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.textSection{
    flex: 1;
    justify-content: space-between;
    width: calc(100% - (var(--row-height) + var(--buy-section-width)));
    height: 90%;
    margin: auto;
}

.textSectionInfo{
    display: flex;
    flex-direction: column;
    justify-content: start;

    gap: 0.5rem;
}

.textSectionStatistics{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.buySection{
    height: 100%;
    width: var(--buy-section-width);
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 15px;
}

.buyButton, .likeButton{
    padding: 12px 15px;
}

.buyButton{
    width: 120px;
}

.title{
    font-size: 1.4rem;
    font-weight: 600;
}

.description{
    font-size: 0.9rem;

    color: var(--secondary-color);
}

.price{
    display: flex;
    align-items: center;
    justify-content: end;

    width: 100%;
    padding-right: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
}

.pastPrice{
    position: relative;
    font-size: 1rem;
}

.pastPrice::after{
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
    width: 110%;
    height: 2px;
    transform: rotate(10deg);

    background-color: var(--hover-color-1);
}

.smallPrice{
    font-size: 1.3rem;
}

.rub{
    font-weight: 400;
}

