
.inputBox{
    position: relative;
    width: 100%;
}

.input{
    width: 100%;

    border-radius: var(--small-border-radius);
    border: 1px solid transparent;

    color: var(--main-color-1);

    padding: 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;

    background-color: var(--background-color-1);
    outline: none;
}

.input.outline{
    border: 1px solid var(--main-color-2);
}


.input:valid, .input:focus{
    border: 1px solid var(--main-color-1);
}

.placeholder{
    position: absolute;
    left: 0;
    padding: 0.6em;
    pointer-events: none;
    font-size: 1rem;
    color: var(--color-transparent);

    transition: 0.4s;
}

.input:valid ~ .placeholder,
.input:focus ~ .placeholder {
    color: var(--background-color-2);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.7rem;
    padding: 0 10px;
    background-color: var(--hover-color-1);

    border-radius: 5px;
    letter-spacing: 0.15rem;

    text-transform: uppercase;
}
