.strap{
    display: flex;
    flex-direction: column;

    min-height: 10px;
    gap: var(--base-gap);

    background-color: var(--background-color-2);
    padding: 2rem;

    border-radius: var(--base-border-radius);
}

.strap.reverse{
    background-color: var(--main-color-1);
}

.strap.secondary{
    background-color: var(--background-color-1);
    border-radius: var(--small-border-radius);
}