.filterPanel {
    width: 350px;
    padding: 20px;
    border-right: 1px solid var(--main-color-1);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filterGroup {
    margin-bottom: 20px;
}

.filterGroup label {
    display: block;
    margin-bottom: 5px;
}

.filterGroup select {
    width: 100%;
    padding: 5px;
}
